*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    font-family: ''Times New Roman', Times, serif';
}
/*START PAGE MAIN*/
main{
    background-color:lightgray;

    
}
/*START TopNavBox */
div#TopNavBox
{


}
img#TopNavImg
{

}
/* This will change all the top nav links */
.TopNavLink
{

}
div#TopNavAdmissions
{

}
div#TopNavAcademics_Library
{

}
div#TopNavStudent_Life
{


}
div#TopNavAtheletics
{

}
div#TopNavMaps
{

}
div#TopNavNews
{

}
div#TopNavResearch
{

}
div#TopNavGiving
{

}
div#TopNavAbout
{

}
/*END TopNavBox */
/*START MainNav */
div#MainNav
{

}
.MainNavLink
{

}
div#MainNavUndergraduate
{

}
div#MainNavGraduate
{

}
div#MainNavCourses
{

}
div#MainNavFaculty
{

}
div#MainNavNews_Events
{

}
div#MainNavStudent_Organizations
{

}
div#MainNavAbout
{

}
/* END MainNav */

/*START BotNavBox */
div#BotNavBox
{

}
img#BotNavSchoolImage
{

}
div#BotNavContact
{

}
div#BotNavEmployers
{

}
div#BotNavSocialMedia
{

}
.BotNavLink
{

}
div#BotNavFacebook
{

}
div#BotNavTwitter
{

}
div#BotNavYoutube
{

}
div#BotNavLinkedIn
{

}
div#BotNavFlickr
{

}
div#BotNavInstagram
{

}
div#BotNavGoogle
{

}
div#BotNavTumblr
{
    
}

